body{
  background-color: #fafafa;
  width: 100%;
}

/* LINE MARKER STYLES */

.horizontal, .upper-right, .lower-right {
  top: 0px !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  width: 200px !important;
  font-weight: bold !important;
  z-index: -1 !important;
}

.horizontal-inner {
    -o-transform: rotate(0deg) !important;
    -khtml-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important; 
    -moz-transform: rotate(0deg) !important;
}

.upper-right-inner {
    -o-transform: rotate(-45deg) !important;
    -khtml-transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important; 
    -moz-transform: rotate(-45deg) !important;
}

.lower-right-inner {
    -o-transform: rotate(45deg) !important;
    -khtml-transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important; 
    -moz-transform: rotate(45deg) !important;
}

#map-container { 
  width: 100%;
  height: 100%;
  position: fixed !important;
  left: 0px;
  top: 0px;
  z-index: 0; 
}

#label_wrapper {
  position: relative;

}

.line_label {
  width: 35px;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
  display: inline;
}

.map_label {
  display: none;
  margin-left: 10px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  font-family: open sans;
  position: relative;
  text-align: right;
}

.view_map {
    width: 30px;
}

.close_label {
  width: 25px;
  margin-left: 10px;
  float: right;
}

#close_box {
  position: fixed;
  top:60px;
  left:0px;
  z-index: 7;
  color: white;
  padding: 10px;
  font-family: open sans;
  font-weight: bold;
  font-size: 12px;
  display: none;
}

#close_box_back {
  position: fixed;
  top:60px;
  left:0px;
  z-index: 6;
  background-color: #000;
  opacity: 0.5;
  padding: 10px;
  display: none;
}

.back {
  padding-right: 10px;
}

#label {
  position: fixed;
  top: 120px;
  left: 425px;
  padding: 10px;
  margin: 20px;
  color: white;
  font-family: open sans condensed;
  font-weight: bold;
  font-size: 25px;
  z-index: 4;
  display: none;
  border-top: #fff solid 2px;
  z-index: 4;
}

#label_back {
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 120px;
  left: 425px;
  display: none;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(177,177,177,50);
  z-index: 3;
}

#label_small {
  height: 25px;
  padding: 5px;
  color: white;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
}

.popup-back {
    background-color: #000 !important;
    opacity: 0.5 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup-front {
    color: white !important;
    font-size: 18px !important;
    font-family: open sans !important;
    z-index: 2;
}

.leaflet-popup-pane {
  position: relative;
/*  top: 30px !important;
  left: 50px !important;*/
}

.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
    border: white 3px solid !important;
    background: none !important;

}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 0px !important;
  position: relative;
  padding: 5px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}

.leaflet-popup-tip {
/*  display: none;*/
}

#box {
  width:400px; 
  background-color: white;
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*  position: absolute;
  top: 120px;*/
  left: 0;
  z-index: 2;
  position: relative;
}

svg#subway {
    margin-top: -8px;
    margin-left: 14px;
    content: 'hiiii';
}

svg#subway + h3 {
    position: absolute;
    top: -10px;
    color: white;
    left: 170px;
    font-size: 80px;
    font-weight: bold;
}

svg#subway + h3#N, #subway + h3#Q, #subway + h3#W {
    color: black;
}

.info_box {
  z-index: 2;
  width:400px; 
  margin: 20px;
  position: relative;
}
#info-box-desktop {
/*  position: absolute;
  left: 0;*/
}
.card_top { position: relative; }

#info-box-handheld .card_top {
    height: 129px;
    overflow: hidden;
}
body #info-box-handheld #box {
    padding-bottom: 20px;
    margin: 20px 0 -10px 20px;
    width: 230px;
    overflow-y: hidden;
}
body #info-box-handheld #box #head {
    text-align: left;
}
body #info-box-handheld #box .scroll_box {
    margin: 0 auto;
    padding-bottom: 0;
    width: 64px;
    height: 64px;
}
#info-box-handheld .ad, #info-box-handheld #box {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -40px;
    width: 300px;
}
#info-box-handheld .window {
    min-width: 300px;
    width: 320px;
    min-height: 200px;
    border: 5px solid rgba(0,0,0,0.3);
    margin-top: 30px;
    margin-left: 10px;
}
#info-box-handheld .window img.profile {
    width: 100px;
    margin: 10px 10px 10px 10px;
    float: left;
    clear: both;
}
#info-box-handheld .window .stop {
    background: none;
    bottom: 0;
    position: inherit;
    color: #333;
}
#info-box-handheld .window a .map_label { display: none; }
.window .stop_name { margin-bottom: 0; }
#info-box-handheld .window .stop_name {
    line-height: 12px;
    font-size: 12px;
}
#info-box-handheld .window .stop a,
#info-box-handheld .window .stop_name,
#info-box-handheld .window h3.name a,
#info-box-handheld .window h3.name {
    color: #333;
    background-color: transparent;
}
#info-box-handheld .window h3.name {
    font-size: 20px;
    line-height: 20px;
    top: 0;
}
/*#info-box-handheld .window .details {
    display: none;
}*/
#info-box-handheld .window a.button.visit-page {
  display: block;
  }

#info-box-handheld .window button.visit-page {
    width: 150px;
    float: right;
    margin: 0 10px;
}
#info-box-handheld .window #social {
    float: left;
    width: 120px;
    padding: 0;
    margin: 5px 0 0 17px;
}
#info-box-handheld .window #social div {
    margin-right: 0;
}

#info-box-handheld {
    margin: auto;
    height: 400px;
    width: 500px;
}

#bottom_ad {
  margin: 0px 20px 260px 20px;
  padding: 20px; 
  background: white;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: relative;
}

#top_ad {
  margin: 20px auto;
  padding: 20px; 
  background: white;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: relative;
}

.exit, .white-circle {
  display: none;
}

#legend_box_wrapper {
  padding: 10px;
  background-color: white;
}

#legend_box {
  width: 100%;
  height: 60px;
  z-index: 3;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}


.no_restaurant {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.logo_box {
  display: inline-table;
  white-space: normal;
  height: 100%;
}

.legend {
    position: relative;
    top: 10px;
}

.right, .left {
    cursor: pointer;
    height: 60px;
    z-index: 5;
    display: none;
    position: fixed;
}

.left {
  left: -2px;
}
.right {
  right: -2px;
  top: 53px;
}

.legend {
  width: 40px;
}

.legend:hover {
  opacity: 0.6;
}

#nydn-header {
  position: relative;
}

.selected {
  background-color: #D8D8D8;
  border-bottom: solid 5px #999; 
}

#info-box-desktop .profile {
  width: 100%;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
}

.name {
  color: white;
  font-family: Open Sans Condensed;
  font-size: 30px;
  line-height: 35px;
  margin-top: 0;
  padding: 0 10px 10px 10px;
  font-weight: bold;
  position: inherit;
  bottom: 0px;
  top: -51px;
  text-transform: uppercase;
  background-color: black;
}

.details, .details a {
  font-family: "PT serif", serif;
  font-size: 16px;
  line-height: 25px;
  color: #706F6F;
  padding: 0 15px;
  margin-top: -40px;
}

.scroll_box {
  width: 100%;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.scroll {
  width: 64px;
  cursor: pointer;
}

.scroll:hover {
  opacity: 0.6;
}

.window {
  width:100%; 
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  margin-bottom: 20px;
}

.highlighted {
  border: solid 8px rgba(0,0,0,0.3);
}
#info-box-desktop .highlighted .profile {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
}

.stop {
    color: white;
    padding: 10px 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    bottom: 48px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,333333+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 45%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 45%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.visit-page {
  background-color: #0077A2;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  line-height: 28px;
  margin: 15px auto;
  height: 52px;
  display: block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 80%;
  border-width: 0;
}

.visit-page:hover {
  opacity: 0.6;
}

#social{
  text-align: center;
  background-color: white;
  padding: 10px 115px 60px 115px;
  opacity: .9;
}


#social #facebook{
  background-image: url('../img/Share-Sprite.png');
  background-repeat: no-repeat;
  background-position: 1px 4px;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  cursor: pointer;
  float: left;
}

#social #twitter{
  background-image: url('../img/Share-Sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -42px;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  cursor: pointer;
  float: left;
}

#social #email{
  background-image: url('../img/Share-Sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -88px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: left;
}

#social_map {
  margin: auto;
  position: relative;
  top: -20px;
  width: 180px;
  float: none;
}
#info-box-handheld #social_map {
  left: -22px;
}

#social_map #facebook{
  background-image: url('../img/Share-Sprite-2.png');
  background-repeat: no-repeat;
  background-position: 1px 4px;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  cursor: pointer;
  float: left;
}

#social_map #twitter{
  background-image: url('../img/Share-Sprite-2.png');
  background-repeat: no-repeat;
  background-position: 0 -42px;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  cursor: pointer;
  float: left;
}

#social_map #email{
  background-image: url('../img/Share-Sprite-2.png');
  background-repeat: no-repeat;
  background-position: 0 -88px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: left;
}

#head {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  line-height: 35px;
  padding: 0 10px 10px 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-family: PT Serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  padding: 10px;
}

#map_scale{
padding: 10px;
background-color: #fff;
width: 100%;
height: 14px;
position: relative;
top: -69px;
left: 270px;
opacity: .8;
border: 1px solid #333;
}


#source{
  font-family: Arial;
  font-size: 10px;
}


/*HANDHELD STYLES*/

@media only screen and (min-width: 250px) and (max-width: 727px) {

    .right, .left {
        display: inline-table;
    }

    body #info-box-handheld #box {
        width: auto;
        overflow: auto;
        margin: 10px;
    }

    svg#subway {
        margin-top: -8px;
        margin-left: 14px;
        width: 100%;
    }
    svg#subway + h3 {
        position: absolute;
        top: -10px;
        color: white;
        left: 42%;
        font-size: 80px;
        font-weight: bold;
    }

    body #info-box-handheld #box #head {
        text-align: center;
        padding: 0;
    }

    #info-box-handheld #social_map {
        display: none;
    }

    #info-box-handheld .window {
        width: 95%;
        height: auto;
        border: 1px solid #ddd;
        margin: 10px auto;
    }

    #info-box-handheld .card_top {
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }

    #info-box-handheld .window img.profile {
        width: 100%;
        margin: 0;
        float: none;
        clear: none;
    }

    #info-box-handheld .window .stop a, #info-box-handheld .window .stop_name, #info-box-handheld .window h3.name a, #info-box-handheld .window h3.name {
        color: white;
    }

    #info-box-handheld .window .stop_name {
        line-height: 23px;
        font-size: 16px;
    }

    #info-box-handheld .window .stop {
        color: white;
        padding: 10px 10px 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        bottom: 33px;
        position: relative;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }

    #info-box-handheld .window h3.name {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px;
        top: -33px;
        background-color: rgb(0,0,0);
}

    .details, .details a {
        margin-top: -25px;
        text-indent: -15px;
    }

    #info-box-handheld .window button.visit-page {
        width: 75%;
        height: auto;
        float: none;
        margin: auto;
    }

    #info-box-handheld .window #social {
        float: none;
        width: 100%;
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
    }

     #info-box-handheld .window #social > a {
        display: inline-block;
        opacity: 1;
    }

    #info-box-handheld .ad, #info-box-handheld #box {
      margin: 20px auto;
    }

}

/*TABLET STYLES*/

@media only screen and (min-width: 728px) and (max-width: 1023px) {
    
    .right, .left {
        display: inline-table;
    }

    body #info-box-handheld #box {
        width: 75%;
        overflow: auto;
        margin: 10px auto;
    }

    svg#subway {
        margin-top: -8px;
        margin-left: 14px;
        width: 100%;
    }
    svg#subway + h3 {
        position: absolute;
        top: -10px;
        color: white;
        left: 46.25%;
        font-size: 80px;
        font-weight: bold;
    }

    body #info-box-handheld #box #head {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #info-box-handheld #social_map {
        display: none;
    }

    #info-box-handheld .window {
        width: 75%;
        height: auto;
        border: 1px solid #ddd;
        margin: 10px auto;
    }

    #info-box-handheld .card_top {
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }

    #info-box-handheld .window img.profile {
        width: 100%;
        margin: 0;
        float: none;
        clear: none;
    }

    #info-box-handheld .window .stop a, #info-box-handheld .window .stop_name, #info-box-handheld .window h3.name a, #info-box-handheld .window h3.name {
        color: white;
    }

    #info-box-handheld .window .stop {
        color: white;
        padding: 10px 30px 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        bottom: 33px;
        position: relative;
        background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#333333',GradientType=0 );
    }

    #info-box-handheld .window .stop_name {
        line-height: 23px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    #info-box-handheld .window h3.name {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px;
        top: -33px;
        padding-left: 30px;
        background-color: rgb(0,0,0);
}

    .details, .details a {
        margin-top: -25px;
        text-indent: -15px;
        position: relative;
    }

    #info-box-handheld .window button.visit-page {
        width: 75%;
        height: auto;
        float: none;
        margin: auto;
    }

    #info-box-handheld .window #social {
        float: none;
        width: 100%;
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
    }

     #info-box-handheld .window #social > a {
        display: inline-block;
        opacity: 1;
    }

    #info-box-handheld .ad, #info-box-handheld #box {
      margin: 20px auto;
    }

}

.center {
    text-align:center;
    margin: auto;
}

.stop_name a, h3 a { color: white; }


#info-box-handheld svg#subway {
  margin-left: 0;
  }

.no_articles > div > div {
    background-color: white;
}
.no_articles > div > div > div {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.img_box {
    position: relative;
    width: 100%;
}
.hide {
    display: none;
}
.no_click, .no_click img {
    cursor: default;
}






#loader {}

.blob {
    z-index: 10;
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.85);
    border-radius: 50%;
    position: fixed;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9)
}

@media only screen and (min-width: 250px) and (max-width: 727px) {
    .blob {
        left: calc(40% - 1rem);
        top: calc(40% - 1rem);
    }
}

.blob-2 { animation: animate-to-2 1.5s infinite; }
.blob-3 { animation: animate-to-3 1.5s infinite; }
.blob-1 { animation: animate-to-1 1.5s infinite; }
.blob-4 { animation: animate-to-4 1.5s infinite; }
.blob-0 { animation: animate-to-0 1.5s infinite; }
.blob-5 { animation: animate-to-5 1.5s infinite; }

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}
.NOV-5{display:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html,body{width:100%;height:100%;margin:0;padding:0}li{list-style:none}.hamburger{background:none;padding:0;border:0}a{text-decoration:none}#nydn-header{background:#222;border-bottom:solid 1px #3B3B3B}#nydn-header #nydn-header-wrap{height:52px;padding:10px 20px;position:relative}#nydn-header #nydn-header-wrap #nydn-logo{display:block;width:192px;height:18px;background:url(http://interactive.nydailynews.com/includes/media/nydn_logo.png) 0 0 no-repeat;margin:10px 10px 10px 32px;float:left;text-indent:-99999px}#nydn-header #nydn-header-wrap #nydn-logo a{display:block;width:100%;height:100%;background:none}#nydn-header #nydn-header-wrap #nydn-menu{position:absolute;left:20px;top:10px}#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-open{display:block;width:22px;height:18px;background:url(http://multimedia.nydailynews.com/css/P01/i/icon/icons.png) 0 0 no-repeat;margin-right:10px;margin-top:10px;text-indent:-99999px;cursor:pointer}#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-open:hover{opacity:9;filter:alpha(opacity=900);background-position:0 -50px}#nydn-header #nydn-header-wrap #nydn-menu nav{position:absolute;width:224px;top:30px;left:0;background:#000;background:rgba(0,0,0,0.9);display:none;z-index:10}#nydn-header #nydn-header-wrap #nydn-menu nav ul{margin:0;padding:0}#nydn-header #nydn-header-wrap #nydn-menu nav ul li{text-transform:uppercase}#nydn-header #nydn-header-wrap #nydn-menu nav ul li a{display:block;padding:10px 20px;color:#fff;transition:All 300ms ease;-webkit-transition:All 300ms ease;-moz-transition:All 300ms ease;-o-transition:All 300ms ease}#nydn-header #nydn-header-wrap #nydn-menu nav ul li a:hover{color:#e8172d}#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-close{width:30px;height:30px;color:#979797;position:absolute;top:30px;left:195px;line-height:30px;text-align:center;cursor:pointer;display:block;z-index:10;opacity:0;filter:alpha(opacity=0)}#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-close:hover{color:#e8172d}#nydn-header #nydn-header-wrap #nydn-menu.on nav{display:block;height:auto}#nydn-header #nydn-header-wrap #nydn-menu.on #nydn-menu-close{opacity:1;filter:alpha(opacity=100)}#nydn-header #nydn-header-wrap #nydn-sm{float:right;margin-top:8px}#nydn-header #nydn-header-wrap #nydn-sm ul{margin:0}#nydn-header #nydn-header-wrap #nydn-sm ul li{float:left;width:22px;height:22px;float:left;margin-left:10px;background:url(http://multimedia.nydailynews.com/css/P01/i/icon/icons.png) 0 0 no-repeat;text-indent:-99999px;cursor:pointer}#nydn-header #nydn-header-wrap #nydn-sm ul li a{display:block;width:22px;height:22px}#nydn-header #nydn-header-wrap #nydn-sm ul li.twitter{background-position:-100px 0;background:url(http://interactive.nydailynews.com/includes/media/tw_top.png)}#nydn-header #nydn-header-wrap #nydn-sm ul li.twitter:hover{background-position:-100px -50px;background:url(http://interactive.nydailynews.com/includes/media/tw_top.png);opacity:.8}#nydn-header #nydn-header-wrap #nydn-sm ul li.facebook{background-position:-200px 0;background:url(http://interactive.nydailynews.com/includes/media/fb_top.png)}#nydn-header #nydn-header-wrap #nydn-sm ul li.facebook:hover{background-position:-200px -50px;background:url(http://interactive.nydailynews.com/includes/media/fb_top.png);opacity:.8}#nydn-footer{clear:both;font-size:12px;color:#fff;text-align:center}#nydn-footer #nydn-footer-services{height:28px;line-height:28px;vertical-align:middle;background:url(http://assets.nydailynews.com/nydn/img/static/bg/header.png) 0 -71px repeat-x}#nydn-footer #nydn-footer-services ul{width:auto;height:100%;display:inline-block;background:url(http://assets.nydailynews.com/nydn/img/static/bg/header.png) -99px -276px no-repeat;padding-left:1px;margin:0}#nydn-footer #nydn-footer-services ul li{display:block;float:left;background:url(http://assets.nydailynews.com/nydn/img/static/bg/header.png) right -276px no-repeat;padding-right:1px}#nydn-footer #nydn-footer-services ul li a{display:block;height:100%;padding:0 10px;color:#fff}#nydn-footer #nydn-footer-services ul li a[href='http://www.nydailynews.com/services']{display:none}#nydn-footer #nydn-footer-services ul li a:hover{background-position:0 -71px;background:url(http://assets.nydailynews.com/nydn/img/static/bg/header.png) 0 -304px repeat-x}#nydn-footer #nydn-footer-services ul li li a{height:auto;background:none}@media (max-width: 900px){#nydn-footer #nydn-footer-services ul li a{display:none}#nydn-footer #nydn-footer-services ul li a[href='http://www.nydailynews.com/services'],#nydn-footer #nydn-footer-services ul li a[href='http://www.nydailynews.com/services/contact-us'],#nydn-footer #nydn-footer-services ul li a[href='http://www.nydailynews.com/services/contact-us'],#nydn-footer #nydn-footer-services ul li a[href='http://www.nydailynews.com/services/sitemap']{display:block}}#nydn-footer #nydn-disclaimer{font-size:11px;color:#ccc;background:#272727;padding:30px 0;height:100%}#nydn-footer #nydn-disclaimer a{color:#ccc;text-decoration:underline}@media (max-width: 480px){#nydn-header #nydn-header-wrap #nydn-sm ul{overflow:hidden;padding:0;width:56px}#nydn-header #nydn-header-wrap #nydn-sm ul li{margin-left:4px}#nydn-header #nydn-header-wrap #nydn-logo{margin:10px 0 0 42px}#nydn-header #nydn-header-wrap{padding:10px}}#interactive-logo a{color:#cdcdcd;font-size:13px;font-family:"Helvetica";letter-spacing:2px;position: relative;bottom: 35px;}#interactive-logo{width:192px;height:18px;margin:13px 10px 0 32px;float:left;position:relative;bottom:3px;background: 0 0 no-repeat}#header_line{position:relative;right:225px;top:7px}@media (max-width: 600px){#interactive-logo,#header_line{display:none}}
