body {
  background: url(../img/splash-background-food.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white
}
#social_map {
    position: unset;
}
h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Open Sans", sans-serif;
}
h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}
article {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	text-align: center;
}
article > div { margin: auto!important; }
article p {
    font-size: 17px;
    line-height: 26px;
    clear: both;
    max-width: 915px;
    margin: auto;
}
article #title {
	margin: 50px auto;
}
article nav {
	border-top: 5px solid white;
	width: 100%;
	position: relative;
	min-height: 300px;
	margin: 40px auto;
}
article nav #bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	filter:alpha(opacity=60); /* IE */
	-moz-opacity:0.6; /* Mozilla */
	opacity: 0.6; /* CSS3 */
	position: absolute;
	top: 0;
	left: 0;
}
article nav #text {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

article nav #next {
    width: 100%;

}

article h2 a { color: white; }
article h2 {
	color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 29px;
}
article nav .legend { width: 60px; }

section#up-next h2 {}
section#up-next > div {}


@media only screen and (max-width: 768px) {
	article #title {
        margin: 50px auto;
    }
	article p {
        font-size: 18px;
        line-height: 26px;
        width: 80%;
    }
    article nav {
        width: 80%;
    }
	article nav .legend {
        width: 55px;
    }

    article h2 {
        font-size: 29px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 665px) {
    article #title {
        margin: 25px auto;
        width: 80%;
    }
    article p {
        font-size: 16px;
        line-height: 23px;
        width: 90%;
    }
    article nav {
        width: 92%;
        margin-top: 25px;
    }
    article nav .legend { width: 40px; }

    article h2 {
        font-size: 25px;
        margin-top: 15px;
    }
    
}

article h1:first-child  { display: none; }

#nydn-footer {
    display: none;
}
